boto3
elasticsearch==7.13.4
feedparser==6.0.10
ffmpeg-python
ffmpeg-streaming2==0.1.0
flask-bcrypt==0.7.1
flask-cors==3.0.10
flask-debugtoolbar==0.10.1
flask-dropzone==1.6.0
flask-ext==0.1
flask-login==0.5.0
flask-marshmallow==0.14.0
flask-migrate==3.1.0
flask-minify==0.37
flask-mysqldb==1.0.1
flask-request-params==0.3.0
flask-restful==0.3.7
flask-restx==0.5.1
flask-script
flask-sock==0.6.0
flask-socketio==5.1.1
flask-sqlalchemy==2.5.1
flask-testing==0.7.1
flask-wtf==1.0.0
flask
h5py
numpy
opencv-python
pillow
pip
urllib3
python-dateutil==2.8.2
python-decouple==3.4
python-dotenv==0.19.2
python-engineio==4.3.1
python-json-logger==2.0.4
python-socketio==5.5.2
regex==2022.3.15
requests==2.23.0
scikit-learn==1.1.2
scipy==1.9.2
sklearn==0.0
sqlalchemy==1.4.29
stopwords==1.0.0
tensorboard-data-server
tensorboard-plugin-wit
tensorboard
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow
torch
torchvision
